:root {
    --yasil: #54d154 ;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 5px 30px;
    background: url('../img/headerbg.jpg') center/cover;
}
menu li { padding: 0 10px;}
menu li a {
    font: bold 1em 'Proxima Nova';
    color: #fff;
}
h1 {
    font: bold 2em 'Montserrat';
    text-transform: capitalize;
    color: #fff;
}
form input {
    border-radius: 14px;
}
#s1 {
    width: 177px;
    height: 27px;
    border: none;
    font-size: 16px;
    color: #111111;
    font-family: "Myriad Pro";
}
#title button {
    margin-top: 40px;
    width: 208px;
    height: 47px;
    border-radius: 23px;
    background-color: #53d153;
    border: none;
    font: 22px "Proxima Nova" ;
    color: #fff;
}
#title button:hover {
    background-color: blue;
    transition: .5s ease;
    cursor: pointer;
}
#scroll {
    width: 120px;
    height: 25px;
    border-radius: 13px;
    background-color: #fff;
    font-size: 16px;
    color: #111111;
    font-weight: 300;
    font-family: "Proxima Nova";
    text-align: center;
}

@media only screen and (min-width: 768px) {
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    menu {
        order: -1;
        display: flex;
    }
    menu li a:hover, menu li a.active {
        font-weight: bold;
        border-top: 5px solid var(--yasil);
        transition: .3s ease;
        color: #54d154;
    }
    h1 {font-size: 3.5em;}
}